.section-hero {
  padding-top: 12rem;
  height: 80vh;
  line-height: 1.1;
  max-width: 100rem;
  margin: 0 auto;
  position: relative;
  top: 15vh;
  opacity: 0;
  transition: top 1s ease, opacity 1s ease;
}

.hero-animate {
  top: 0;
  opacity: 1;
}

@keyframes slide-up {
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}

.hi-paragraph {
  color: var(--color-primary);
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

.big-heading {
  font-size: clamp(4rem, 8vw, 8rem);
  color: var(--color-gray-primary);
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.smaller-heading {
  font-weight: 600;
  font-size: clamp(4rem, 8vw, 8rem);
  color: #777;
  line-height: 0.9;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.hero-paragraph {
  font-size: 1.6rem;
  color: #777;
  line-height: 1.9;
  max-width: 80%;
  margin-bottom: 3.2rem;
}

.btn-projects-hero {
  font-size: 1.6rem;
}
