.section-hero {
  padding-top: 12rem;
  height: 80vh;
  line-height: 1.1;
  max-width: 100rem;
  margin: 0 auto;
  position: relative;
  top: 10vh;
  opacity: 0;
  transition: top 1s ease, opacity 1s ease;
}

.hero-animate {
  top: 0;
  opacity: 1;
}

@keyframes slide-up {
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}

.hi-paragraph {
  color: var(--color-primary);
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.big-heading {
  font-size: clamp(3rem, 7vw, 7rem);
  color: var(--color-gray-primary);
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.smaller-heading {
  font-weight: 600;
  font-size: clamp(3rem, 7vw, 7rem);
  color: #777;
  line-height: 0.9;
  white-space: nowrap;
  margin-bottom: 2rem;
}

.hero-paragraph {
  font-size: 2.1rem;
  color: #777;
  max-width: 80rem;
  margin-bottom: 3.2rem;
  line-height: 1.9;
}

.btn-projects-hero {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  background: none;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-projects-hero:hover {
  color: var(--color-primary-shade);
}

@media screen and (orientation: landscape) {
  .section-hero {
    padding-bottom: 12rem;
  }
}

@media (max-width: 1001px) {
  .section-hero {
    width: 80rem;
  }
}

@media (max-width: 821px) {
  .section-hero {
    width: 70rem;
  }
}

@media (max-width: 821px) {
  .section-hero {
    width: 60rem;
  }
}

@media (max-width: 691px) {
  .hero-paragraph {
    font-size: 1.9rem;
  }
}

@media (max-width: 595px) {
  .section-hero {
    width: 50rem;
    padding-top: 6rem;
  }
}

@media (max-width: 500px) {
  .section-hero {
    width: 40rem;
  }

  .hero-paragraph {
    font-size: 1.7rem;
  }

  .btn-projects-hero,
  .hi-paragraph {
    font-size: 1.5rem;
  }
}

@media (max-width: 415px) {
  .section-hero {
    width: 35rem;
  }
}
