@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --color-gray-primary: #444;
  --color-primary: #5ec576;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  line-height: 1.9;
}

.section {
  background-color: #fafafa;
}

.btn {
  padding: 1.6rem 1.8rem;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 0.9rem;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
}
